/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 100002; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    animation: fadeIn 0.4s;
}

.modal-content {
    background-color: #272833;
    margin: 15% auto; 
    padding: 2em;
    border: 1px solid #c5a059;
    width: 80%; 
    max-width: 500px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: relative;
    animation: slideIn 0.4s;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: color 0.2s;
}

.close-modal:hover,
.close-modal:focus {
    color: #c5a059;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h3 {
    color: #c5a059;
    margin-bottom: 0.5em;
}

.modal-content p {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 2em;
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes slideIn {
    from {transform: translateY(-50px); opacity: 0;} 
    to {transform: translateY(0); opacity: 1;}
}
